.topContainer {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	font-family: 'Jost', sans-serif;
	background: rgb(0, 95, 127);
	background: linear-gradient(
		90deg,
		rgba(0, 95, 127, 1) 0%,
		rgba(69, 177, 197, 1) 63%
	);
	
	.main {
		width: 700px;
		height: 800px;
		background: rgba(0, 95, 127, 1);
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 5px 20px 50px #000;
	}
	
	label {
		color: #fff;
		font-size: 2.3em;
		display: flex;
		justify-content: center;
		margin: 35px;
		font-weight: bold;
		cursor: pointer;
		transition: 0.5s ease-in-out;
	}
	
	input {
		width: 60%;
		height: 30px;
		background: #e0dede;
		justify-content: center;
		display: flex;
		margin: 20px auto;
		padding: 10px;
		border: none;
		outline: none;
		border-radius: 5px;
	}
	
	button {
		width: 60%;
		height: 40px;
		margin: 10px auto;
		justify-content: center;
		display: block;
		color: #fff;
		background: #ff595a;
		font-size: 1em;
		font-weight: bold;
		margin-top: 20px;
		outline: none;
		border: none;
		border-radius: 5px;
		transition: 0.2s ease-in;
		cursor: pointer;
		
		&:hover {
			background: #b34040;
		}
	}
	
	.login {
		height: 600px;
		background: #eee;
		border-radius: 30% / 10%;
		transform: translateY(-180px);
		transition: 0.8s ease-in-out;
		
		label {
			color: rgba(0, 95, 127, 1);
			transform: scale(0.6);
		}
	}
	
	.signupbuttonoption {
		color: white !important;
		font-size: 1.7em;
		display: flex;
		margin-top: 190px;
		padding-bottom: 100px;
		justify-content: center;
		cursor: pointer;
		transition: 0.5s ease-in-out;
		background-color: rgba(0, 95, 127, 1);
		border-radius: 30%;
	}
	
	#chk:checked ~ .login {
		transform: translateY(-680px);
		
		label {
			transform: scale(1);
		}
	}
	
	#chk:checked ~ .signup label {
		transform: scale(0.6);
	}
	
	.errormsg {
		font-size: 14px;
		display: flex;
		color: red;
		justify-content: center;
		margin: 0;
		padding:0;
    	font-family: Arial, Helvetica, sans-serif;
}
}
